<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>AboutPage</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sohail Says</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="interests.html">Interests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>






                </ul>

            </div>
        </div>
    </nav>

    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">About the Founder</strong>
                        <h3 class="mb-0">Sohail Mohammad</h3>
                        
                        <p class="card-text mb-auto"><h0>Hello!, My name is Sohail Mohammad. I am student,
                            Tech Enthusiast, Programmer and a Full Stack Developer. Currently I am living in 
                            Hyderabad, India and pursuing
                            BTECH degree in Computer Science in Artificial Intelligence and Machine Learning 
                            from MRCET college in Hyderabad. I love learning new Technologies, and this desire
                            makes me to learn different types of Technologies daily. </h0> 
                            
                            </p>
                        
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="static/s3.jpg" alt="">
                        
                           
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Sohail Says</strong>
                        <h3 class="mb-0">Why I started this Blog?</h3>
        
                        <p class="mb-auto"><h0>After completing 1st semister of 1st year in college,
                             My college gave summer vacations. So, At that moment, I decided to learn Web
                             Development. After keeping some sheer hardwork, consistency in Web Development, 
                             I completed almost all topics in that course and started building some tiny web 
                             applications. Soon after completing building of tiny applications, I decided to
                             develop my Personal Blog. So, this is the reason why I built this Blog.
                        </h0>
                            </p>
                        
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="static/v.jpg" alt="">
                       

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <footer class="container">
                
                <p>© 2022–2025 Sohail Says, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
              </footer>
        </div>
    </div>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>